.content {
    width: 100%;
}

.content__principal {
    padding: rem(25) rem(15);

    &__category {
        font-family: $basicFont;
        color: $categoryColor;
        font-size: rem(14);
    }

    &__title {
        font-family: $titleFont;
        color: $black;
        font-size: rem(24)
    }
    &__p {
        font-family: $basicFont;
        color: $grey;
        font-size: rem(18);
        line-height: rem(30);
    }
    &__button {
        width: rem(80);
        background-color: $white;
        border: $buttonColor 2px solid;
        border-radius: rem(24);
        padding: rem(10);

        p {
            font-size: rem(20);
            color: $buttonColor;
            margin: 0%;
        }
    }
}