<footer class="footer">
    <a href="#">
        <button class="footer__button">
        <img src="./assets/images/ico-arrow.svg" alt="">
        </button>
    </a>
    <div class="footer__wrapper">
      <div class="footer__nav">
        <nav class="footer__nav__menu">
          <ul>
            <a href="#" target="" rel=""><li>Articles</li></a>
            <a href="#" target="" rel=""><li>Books</li></a>
            <a href="#" target="" rel=""><li>Events</li></a>
            <a href="#" target="" rel=""><li>Reasons</li></a>
            <a href="#" target="" rel=""><li>Tips</li></a>
          </ul>
        </nav>
      </div>
    <div class="footer__social">
      <nav>
        <ul>
          <a href="#" target="" rel=""><li>Twitter</li></a>
          <a href="#" target="" rel=""><li>Instagram</li></a>
          <a href="#" target="" rel=""><li>Mastodon.social</li></a>
        </ul>
      </nav>
    </div>
    <div class="footer__copy">
      <p>
        ©2017
      </p>
      <span>
        we 
      </span>
      <span class="heart">
        ❤︎
      </span>
      <span>
        components
      </span>
    </div>
  </div>
</footer>