<div class="wrapper">
    <main class="content">
      <article class="content__principal">
        <span class="content__principal__category">
          Insomnia Tips
        </span>
        <h2 class="content__principal__title">
          Looking Through A Window
        </h2>
        <p class="content__principal__p">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <button class="content__principal__button">
          <p>Go</p>
        </button>
      </article>
      <article class="content__research" id="reasons">
          <h2>
            3 Reasons To Purchase
          </h2>
        <div class="section__grid">
          <div class="section__grid__item">
            <h3>
              Ut sed metus
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consecteur.
            </p>
          </div>
          <div class="section__grid__item">
            <h3>
              Curabitur ac erat
            </h3>
            <p>
              Mauris mattis urna quis lorem molestie. 
            </p>
          </div>
          <div class="section__grid__item">
            <h3>
              Morbi dictum
            </h3>
            <p>
              Aliquam in dolor et dolor tincidunt.
            </p>
          </div>
        </div>
        <button class="button__content">
          <p>
            More reasons
          </p> 
        </button>
      </article>
    </main>
  </div>