<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ana Sánchez Rojo</title>
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <partial src="_header.html" label="Header"/>
    <partial src="_hero.html" label="Hero"/>
    <partial src="_main.html" label="Main"/>
    <partial src="_footer.html" label="Footer"/>
  </div> 
</body>
</html>
