<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ana Sánchez Rojo</title>
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <button class="header__button">
        <img src="./assets/images/ico-menu.svg" alt="icono-menu">
      </button>
    </header>
      <div class="hero">
        <h1 class="hero__title">
          Anonymous Proxy
        </h1>
        <span class="hero__subtitle">
          In hac habitasse platea dictumst.
        </span>
          <button class="hero__button">
            <a href="http://localhost:3000/#reasons"><img src="./assets/images/ico-scroll-down.svg" alt=""></a>
          </button>
       
      </div>
    <main class="content">
      <article class="content__principal">
        <span class="content__principal__category">
          Insomnia Tips
        </span>
        <h2 class="content__principal__title">
          Looking Through A Window
        </h2>
        <p class="content__principal__p">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <button class="content__principal__button">
          <p>Go</p>
        </button>
      </article>
      <article class="content__research" id="#reasons">
          <h2>
            3 Reasons To Purchase
          </h2>
        <div class="section__grid">
          <div class="section__grid__item">
            <h3>
              Ut sed metus
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consecteur.
            </p>
          </div>
          <div class="section__grid__item">
            <h3>
              Curabitur ac erat
            </h3>
            <p>
              Mauris mattis urna quis lorem molestie. 
            </p>
          </div>
          <div class="section__grid__item">
            <h3>
              Morbi dictum
            </h3>
            <p>
              Aliquam in dolor et dolor tincidunt.
            </p>
          </div>
        </div>
        <button class="button__content">
          <p>
            More reasons
          </p> 
        </button>
      </article>
    </main>
    <footer class="footer">
      <a href="#">
        <button class="footer__button">
          <img src="./assets/images/ico-arrow.svg" alt="">
        </button>
    </a>
      <div class="footer__nav">
        <nav class="footer__nav__menu">
          <ul>
            <a href="#" target="" rel=""><li>Articles</li></a>
            <a href="#" target="" rel=""><li>Books</li></a>
            <a href="#" target="" rel=""><li>Events</li></a>
            <a href="#" target="" rel=""><li>Reasons</li></a>
            <a href="#" target="" rel=""><li>Tips</li></a>
          </ul>
        </nav>
      </div>
      <div class="footer__social">
        <nav>
          <ul>
            <a href="#" target="" rel=""><li>Twitter</li></a>
            <a href="#" target="" rel=""><li>Instagram</li></a>
            <a href="#" target="" rel=""><li>Mastodon.social</li></a>
          </ul>
        </nav>
      </div>
      <div class="footer__copy">
        <p>
          ©2017
        </p>
        <span>
          we 
        </span>
        <span class="heart">
          ❤︎
        </span>
        <span>
          components
        </span>
      </div>
    </footer>
  </div> 
</body>
</html>
