.footer {
    width: 100%;
    background-color: $secondaryColor;
    padding: rem(40);

    a{
        color: $white;
    
    }
    a:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    ul,li {
        margin-top: rem(15);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &__button {
        background-color: $white;
        border: $white 1px solid;
        border-radius: rem(50);
        padding: rem(10);
        width: rem(50);
        height: rem(50);
        transform: translate(-50%, -120%);
        position: absolute;
        left: 50%;
        -webkit-box-shadow: 3px 3px 20px 3px #00000073;
        box-shadow: 3px 3px 20px 3px #00000073;
      
    }


    &__nav {
        text-align: center;
        text-transform: uppercase;
        font-family: $basicFont;
        color: $white;
        margin: rem(20) 0;
    }

    &__social {
        text-align: center;
        text-transform: uppercase;
        font-family: $basicFont;
        color: $white;
        margin: rem(20) 0;
    }

    &__copy {
        text-align: center;
        font-family: $basicFont;
        color: $white;
        margin: rem(20) 0;
    }

}

.heart {
    color: $buttonColor;
}

@include media ($tablet) {
    
    .footer__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        max-width: rem(550);
        margin: auto;
    }
    
    .footer__nav {
        text-align: left;
        order: 1;
    }

    .footer__social {
        text-align: left;
        order: 0;
    }
    
    .footer__copy {
        text-align: left;
        order: 2;
    }
    
}

@include media ($desktop) {
    .footer__wrapper {
        max-width: rem(500);
        margin: auto;
    }
}