/**MEDIA QUERIES**/

$tablet: 768px;
$desktop: 1200px;


/**FONT**/

$defaultFontSize: 16; 
$basicFont: 'Roboto', sans-serif;
$titleFont: 'Roboto Slab', serif;


/**COLOR**/

$primaryColor: #0271bc;
$secondaryColor: #304268;
$buttonColor: #f26002;
$backgroundColor: #eff9ff;
$categoryColor: #8ccbea;
$black: #000000;
$white: #fff;
$grey: #4a4a4a;












